*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body
{
    background-color: rgb(231, 227, 227);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame
{
    height:500px ;
    width:460px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px blue;
    
}
.heading
{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
#display{
    height: 90px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    box-shadow:inset 2px 2px 10px #b4edf4,-5px -5px 10px #ffffff;
    font-size: 30px;
    padding: 10px;
    box-sizing:border-box ;
    text-align: right;
    
}
.button-group
{
    display: flex;
    justify-content: space-around;
}
.button
{
   height: 75px;
   width: 85px;
   border: none;
   outline: none;
   box-shadow: inset 5px 5px 10px #babeec , -1px -1px 2px #ffffff;
   margin-top: 15px;

}
.button:active
{
    box-shadow: inset 1px 1px 5px #babeec , inset -1px -1px 2px #ffffff;
}
.button:hover
{
    background-color: red;
    color: white;
    cursor: pointer;
}
